.categoryPanel {
    position: fixed;
    top: 15vh;
    left: 10%;
    width: 80%;
    height: 77vh;
}

.category {
    position: relative;
    width: 40%;
    padding: 5%;
    float: left;

}

.button {
    position: relative;
    width: 100%;
    float: left;
    height: auto;
    background-color: #39AB00;
    text-decoration: none;
    border: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    text-align: center;
    padding: 4%;
}

.button:hover {
    cursor: pointer;
    background-color: #5BCD00;
}

.content {
    position: relative;
    float: left;
    width: 95%;
    top: 15px;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.0em;
    font-weight: 400;
}