body {
    font-family: 'Open Sans', sans-serif;
    width: 550px;
    margin: 0 auto;
    text-align: center;
    color: #000;
}

img {
    position: relative;
    top: 15px;
    width: 550px;
    height: auto;
}

.all {
    text-align: center;
    width: 100%;
    margin-top: 15px;
}

.all input {
    margin: 10px 5px;
    padding: 3px;
}

.fieldset-login {
    width: 220px;
    float: left;
    margin: 5px;
    margin-left: 165px;
}

fieldset {
    border: 1px #fff solid;
    border-radius: 10px;
}

.legend-login {
    border: 0px #fff solid;
    color: #fff;
    border-radius: 10px;
    margin-left: 1em;
    padding: 0.2em 0.8em
}

.fieldset-register {
    width: 220px;
    float: right;
    margin: 5px;
}

.legend-register {
    border: 0px #fff solid;
    color: #fff;
    border-radius: 10px;
    margin-left: 1em;
    padding: 0.2em 0.8em
}

.link:link, .link:visited {
    text-decoration: none;
    color: blue;
}

.link:hover {
    text-decoration: underline;
    color: red;
}

.g-recaptcha {
    transform: scale(0.74);
    transform-origin: 0 0;
    width: 120px;
}

.fieldset_przypomnij_haslo {
    border: 1px black solid;
    width: 100%;
    float: left;
    margin: 5px;
    text-align: center;
}

.fieldset_przypomnij_haslo table {
    text-align: center;
    margin: 0 auto;
}

.legend_przypomnij_haslo {
    border: 0px black solid;
    margin-left: 1em;
    padding: 0.2em 0.8em
}