.user_panel {
    position: relative;
    float: left;
    width: 25%;
    top: 11vh;
    height: 81vh;
    display: block;
    background-color: #2B2C30;
}

.user_info {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2em;
    margin: 10%;
}

.user_wall {
    position: relative;
    float: left;
    width: 75%;
    height: 81vh;
    display: block;
    z-index: -10;
}

.user_wall span {
    padding: 20px;
}

.add_category {
    position: fixed;
    align-content: center;
    bottom: 10vh;
    left: 20px;
    width: 120px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7em;
    color: #ffffff;
}

.add_category img:hover {
    position: relative;
    top: 0px;
    width: 48px;
    height: 48px;
}

.add_category img {
    top: -6px;
    width: 42px;
    height: 42px;
}